<html>
    <head>
        <title>Bank Marketing Campaign Analysis</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f2f2f2;
            }
    
            .login {
                width: 100%;
                max-width: 1000px;
                margin: 100px auto;
                background: #fff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }
    
            .login h1 {
                text-align: center;
                color: red;
                margin-bottom: 20px;
            }
            .login h1 small{
                font-size: 70%;
                color: green;
                display: block;
            }

            .form-label {
                font-weight: bold;
            }
    
            .form-control {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;
            }
    
            .btn-primary {
                width: 100%;
                padding: 10px;
                background-color: #007bff;
                border: none;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }
    
            .btn-primary:hover {
                background-color: #0056b3;
            }
    
            h2 {
                text-align: center;
                margin-top: 20px;
                color: #007bff;
            }
        </style>
    </head>
<body>
    <div class="login">
       <h1>Bank Marketing Campaign Analysis</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h2>
            <legend>Predict A Term Deposit Subscriber</legend>
        </h2>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input class="form-control" type="number" name="age"
                placeholder="Age" min='17' max='98' />
        </div>
        <div class="mb-3">
            <label class="form-label">Job</label>
            <select class="form-control" name="job" placeholder="Enter Job" required>
                <option class="placeholder" selected disabled value="">Select Job</option>
                <option value="housemaid">
                    Housemaid
                </option>
                <option value="services">
                    Services
                </option>
                <option value="admin.">
                    Admin
                </option>
                <option value="blue-collar">
                    Blue-collar
                </option>
                <option value="technician">
                    Technician
                </option>
                <option value="retired">
                    Retired
                </option>
                <option value="management">
                    Management
                </option>
                <option value="unemployed">
                    Unemployed
                </option>
                <option value="self-employed">
                    Self-employed
                </option>
                <option value="entrepreneur">
                    Entrepreneur
                </option>
                <option value="student">
                    Student
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Marital Status</label>
            <select class="form-control" name="marital" placeholder="Enter Marital Status" required>
                <option class="placeholder" selected disabled value="">Select Marital Status</option>
                <option value="married">
                    Married
                </option>
                <option value="single">
                    Single
                </option>
                <option value="divorced">
                    Divorced or Widowed
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Education</label>
            <select class="form-control" name="education" placeholder="Enter Education" required>
                <option class="placeholder" selected disabled value="">Select Education</option>
                <option value="high.school">
                    High School
                </option>
                <option value="basic.4y">
                    Basic 4 years
                </option>
                <option value="basic.6y">
                    Basic 6 years
                </option>
                <option value="basic.9y">
                    Basic 9 years
                </option>
                <option value="professional.course">
                    Professional Course
                </option>
                <option value="university.degree">
                    University Degree
                </option>
                <option value="illiterate">
                    Illiterate
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Has Credit in default?</label>
            <select class="form-control" name="default" placeholder="Select Default" required>
                <option class="placeholder" selected disabled value="">Select Default</option>
                <option value="yes">
                    Yes
                </option>
                <option value="no">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Has housing loan?</label>
            <select class="form-control" name="housing" placeholder="Select Housing" required>
                <option class="placeholder" selected disabled value="">Select Housing</option>
                <option value="yes">
                    Yes
                </option>
                <option value="no">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Has personal loan?</label>
            <select class="form-control" name="loan" placeholder="Select Loan" required>
                <option class="placeholder" selected disabled value="">Select Loan</option>
                <option value="yes">
                    Yes
                </option>
                <option value="no">
                    No
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Last Contact Communication Type</label>
            <select class="form-control" name="contact" placeholder="Select Contact" required>
                <option class="placeholder" selected disabled value="">Select Contact</option>
                <option value="telephone">
                    Telephone
                </option>
                <option value="cellular">
                    Cellular
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Last Contact Month of Year</label>
            <select class="form-control" name="month" placeholder="Enter Month" required>
                <option class="placeholder" selected disabled value="">Select Month</option>
                <option value="may">
                    January
                </option>
                <option value="may">
                    February
                </option>
                <option value="mar">
                    March
                </option>
                <option value="apr">
                    April
                </option>
                <option value="may">
                    May
                </option>
                <option value="jun">
                    June
                </option>
                <option value="jul">
                    July
                </option>
                <option value="aug">
                    August
                </option>
                <option value="sep">
                    September
                </option>
                <option value="oct">
                    October
                </option>
                <option value="nov">
                    November
                </option>
                <option value="dec">
                    December
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Last Contact Day of Week</label>
            <select class="form-control" name="day_of_week" placeholder="Enter Day of Week" required>
                <option class="placeholder" selected disabled value="">Select Day of Week</option>
                <option value="mon">
                    Monday
                </option>
                <option value="tue">
                    Tuesday
                </option>
                <option value="wed">
                    Wednesday
                </option>
                <option value="thu">
                    Thursday
                </option>
                <option value="fri">
                    Friday
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Last Contact Duration, in seconds</label>
            <input class="form-control" type="number" name="duration"
                placeholder="Duration" min='0' max='4918' />
        </div>
        <div class="mb-3">
            <label class="form-label">Number of contacts performed during this campaign and for this client</label>
            <input class="form-control" type="number" name="campaign"
                placeholder="Campaign" min='1' max='56' />
        </div>
        <div class="mb-3">
            <label class="form-label">Number of days that passed by after the client was last contacted from a previous campaign</label>
            <input class="form-control" type="number" name="pdays"
                placeholder="Pdays" min='0' max='999' />
        </div>
        <div class="mb-3">
            <label class="form-label">Number of contacts performed before this campaign and for this client</label>
            <input class="form-control" type="number" name="previous"
                placeholder="Previous" min='0' max='7' />
        </div>
        <div class="mb-3">
            <label class="form-label">Outcome of the previous marketing campaign</label>
            <select class="form-control" name="poutcome" placeholder="Enter Outcome" required>
                <option class="placeholder" selected disabled value="">Select Outcome</option>
                <option value="success">
                    Success
                </option>
                <option value="failure">
                    Failure
                </option>
                <option value="nonexistent">
                    Nonexistent
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Employment Variation Rate - Quarterly Indicator</label>
            <input class="form-control" type="number" name="emp_var_rate"
                placeholder="Employment Variation Rate" min='-3.4' max='1.4' />
        </div>
        <div class="mb-3">
            <label class="form-label">Consumer Price Index - Monthly Indicator</label>
            <input class="form-control" type="number" name="cons_price_idx"
                placeholder="Consumer Price Index" min='92.201' max='94.767' />
        </div>
        <div class="mb-3">
            <label class="form-label">Consumer Confidence Index - Monthly Indicator</label>
            <input class="form-control" type="number" name="cons_conf_idx"
                placeholder="Consumer Confidence Index" min='-50.8' max='-26.9' />
        </div>
        <div class="mb-3">
            <label class="form-label">Euribor 3 Month Rate - Daily Indicator</label>
            <input class="form-control" type="number" name="euribor3m"
                placeholder="Euribor 3 Month Rate" min='0.634' max='5.045' />
        </div>
        <div class="mb-3">
            <label class="form-label">Number of Employees - Quarterly Indicator</label>
            <input class="form-control" type="number" name="nr_employed"
                placeholder="Number of Employees" min='4963.6' max='5228.1' />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict the client subscribed a term deposit" required />
        </div>
    </form>
    <h2>
       {{results}}
    </h2>
   <body>
</html>